<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Internal</short>
  <description>For use on internal networks.</description>
{% for address_space in firewall_internal_addresses|default(()) %}
  <source address="{{ address_space }}"/>
{% endfor %}
{% for service in firewall_internal_services|default(()) %}
  <service name="{{ service }}"/>
{% endfor %}
</zone>
