<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>Publicly visible services.</description>
{% for service in firewall_public_services|default(()) %}
  <service name="{{ service }}"/>
{% endfor %}
</zone>
