#!/bin/sh

WAN_INTERFACE="{{ router_interface}}.2"
TUN_NAME=tun6to4

errcho()
{
	echo $@ 1>&2
}

cleanup()
{
	TUN_COUNT=$(ip -o link show dev ${TUN_NAME}| wc -l)
	if test ${TUN_COUNT} -ne 0
	then
		ip -6 route del 2000::/3 via ::192.88.99.1 dev ${TUN_NAME}
		ip link set dev ${TUN_NAME} down
		ip tunnel del ${TUN_NAME}
		if test $? -eq 0
		then
			errcho did delete ${TUN_NAME}
		else
			errcho failed to delete ${TUN_NAME}
		fi
	fi
}

# First, some initial checks to see if the event is interesting.
if test "${IFACE}" != "${WAN_INTERFACE}"
then
	errcho ignoring because not "${WAN_INTERFACE}"
	exit 0
fi

cleanup
