#!/bin/sh

LAN_INTERFACE="{{ router_interface}}"
WAN_INTERFACE="{{ router_interface}}.2"
TUN_NAME=tun6to4

errcho()
{
	echo $@ 1>&2
}

cleanup()
{
	TUN_COUNT=$(ip -o link show dev ${TUN_NAME}| wc -l)
	if test ${TUN_COUNT} -ne 0
	then
		ip -6 route del 2000::/3 via ::192.88.99.1 dev ${TUN_NAME}
		ip link set dev ${TUN_NAME} down
		ip tunnel del ${TUN_NAME}
		if test $? -eq 0
		then
			errcho did delete ${TUN_NAME}
		else
			errcho failed to delete ${TUN_NAME}
		fi
	fi
}

setup()
{
	cleanup
	errcho setting up for address ${1}
	V4_ADDR="${1}"
	V4_DOTLESS="$(echo ${V4_ADDR}| tr '.' ' ')"

	V6_PREFIX_START=2002:"$(printf '%02x%02x:%02x%02x' ${V4_DOTLESS})"
	V6_PREFIX="${V6_PREFIX_START}"::/48
	V6_WAN_ADDR="${V6_PREFIX_START}"::1/16
	V6_LAN_ADDR="${V6_PREFIX_START}":2::1/64

	errcho prefix is ${V6_PREFIX}

	ip tunnel add ${TUN_NAME} mode sit remote any local "${V4_ADDR}"
	ip link set dev ${TUN_NAME} up
	ip addr add ${V6_WAN_ADDR} dev ${TUN_NAME}
	ip -6 route add 2000::/3 via ::192.88.99.1 dev ${TUN_NAME} metric 1000

	ip -6 addr add ${V6_LAN_ADDR} dev ${LAN_INTERFACE}
}

# First, some initial checks to see if the event is interesting.
if test "${IFACE}" != "${WAN_INTERFACE}"
then
	errcho ignoring because not "${WAN_INTERFACE}"
	exit 0
fi

V4_ADDR=$(ip -o -4 addr show dev "${WAN_INTERFACE}"|awk '{ split($4,items,"/"); print items[1] }')

if test -n ${V4_ADDR}
then
	# Only do setup if we still have the address.
	setup ${V4_ADDR}
fi
