# interfaces(5) file used by ifup(8) and ifdown(8)

auto {{ router_interface|mandatory }}
iface {{ router_interface|mandatory }} inet static

{% for raddress in router_addresses %}
address {{ raddress }}
{% endfor %}

iface {{ router_interface|mandatory }} inet6 static
address {{ address }}
netmask 64

auto {{ router_interface|mandatory }}.2
iface {{ router_interface|mandatory }}.2 inet dhcp
vlan-raw-device 2
