*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p ipv6-icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -j ACCEPT
-A INPUT -p tcp -m tcp --dport 5666 -m conntrack --ctstate NEW -i {{ router_interface }} -j ACCEPT
-A INPUT -i {{ router_interface }} -j REJECT --reject-with icmp6-adm-prohibited
-A INPUT -j DROP

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -p ipv6-icmp -j ACCEPT
-A FORWARD -i lo -j ACCEPT
-A FORWARD -i {{ router_interface }} -j ACCEPT
-A FORWARD -i {{ router_interface }} -j REJECT --reject-with icmp6-adm-prohibited
-A FORWARD -j DROP
COMMIT
