*filter
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p udp --dport 53 -i {{ router_interface }} -j ACCEPT
{% if router_address -%}
-A INPUT -p udp --dport 67 -i {{ router_interface }} -j ACCEPT
{% endif -%}
-A INPUT -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -i {{ router_interface }} -j ACCEPT
-A INPUT -p 41 -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -i lo -j ACCEPT
-A FORWARD -i {{ router_interface }} -j ACCEPT
-A FORWARD -p icmp -j ACCEPT
-A FORWARD -i {{ router_interface }} -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j DROP
COMMIT

*nat
:PREROUTING ACCEPT
:POSTROUTING ACCEPT
:OUTPUT ACCEPT

-A POSTROUTING -o {{ router_interface }}.2 -j MASQUERADE
COMMIT
