{% set collectors = groups.get(collectd_collectors_groupname, []) -%}

Hostname "{{ inventory_hostname }}"

LoadPlugin syslog

LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
{% if ansible_virtualization_role != 'guest' -%}
LoadPlugin hddtemp
{% endif -%}
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
{% if collectors != [] -%}
LoadPlugin network
{% endif -%}
LoadPlugin rrdtool
LoadPlugin swap

{% if collectors != [] and inventory_hostname in collectors -%}
<Plugin network>
	Listen "{{ address }}"
</Plugin>
{% elif collectors != [] and inventory_hostname not in collectors -%}
<Plugin network>
{% for collector in collectors %}
	Server "{{ hostvars[collector]['address'] }}"
{% endfor %}
</Plugin>
{% endif -%}

{% if collectd_store_rrd -%}
<Plugin rrdtool>
	DataDir "/var/lib/collectd/rrd"
	CacheTimeout 120
	CacheFlush   900
</Plugin>
{% endif -%}
