define command {
	command_name	check_nrpe
	command_line	$USER1$/check_nrpe -6 -H $HOSTADDRESS$ -c $ARG1$ -t 300
}

define command {
	command_name	check_ldap
	command_line	$USER1$/check_ldaps -S -3 -H $HOSTADDRESS$ -b {{ ldap_logins_ldap_search_base }}
}

define command {
	command_name	check_dns
	command_line	$USER1$/check_dns -s $HOSTADDRESS$ -H $HOSTADDRESS$
}
