define contact {
	contact_name			root
	host_notifications_enabled	0
	service_notifications_enabled	0
	host_notification_period	24x7
	service_notification_period	24x7
	host_notification_commands	notify-host-by-email
	service_notification_commands	notify-service-by-email
	email				root@localhost
}

{% set monitored_hosts = (
    nagios_monitored_groups|default([])|map('extract', groups)|sum(start=[]) +
    nagios_monitored_hosts|default([]))
    |unique|sort
-%}

{% set nrpe_hosts = nagios_nrpe_hosts|default([]) +
                    nagios_nrpe_groups|default([])|map('extract',groups)|sum(start=[]) %}

{% for hostname in monitored_hosts -%}

{% set monitored_services = hostvars[hostname].get('monitored_services_host', [])|sort -%}

define host {
	use			generic-host
	host_name		{{ hostname }}
	address			{{ hostvars[hostname]["ansible_host"]|default(hostname) }}
	max_check_attempts	4
	contacts		root
	check_command		check-host-alive
}

define service {
	use			generic-service
	host_name		{{ hostname }}
	service_description	SSH
	check_command		check_ssh
}

{% if 'ldap' in monitored_services %}
define service {
	use			generic-service
	host_name		{{ hostname }}
	service_description	LDAP
	check_command		check_ldap
}
{% endif %}

{% if hostname in nrpe_hosts %}
define service {
	use			generic-service
	host_name		{{ hostname }}
	service_description	Disk space
	check_command		check_nrpe!check_disk
}

define service {
	use			generic-service
	host_name		{{ hostname }}
	service_description	Updates
	check_command		check_nrpe!check_updates
}
{% endif %}

{% endfor %}
