{% if quassel_core_ssl != None -%}
{% set quassel_core_sslargs = ' --ssl-cert=/var/lib/quassel/quasselCert.pem --ssl-key=/var/lib/quassel/quasselKey.pem' -%}
{% else -%}
{% set quassel_core_sslargs = '' -%}
{% endif -%}

[Unit]
Description=Quassel core service
After=network.target

[Service]
Type=simple
User=quassel
{% if quassel_core_ssl != None -%}
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o quassel -g quassel -m 600 {{ quassel_core_ssl.cert }} /var/lib/quassel/quasselCert.pem
ExecStartPre=/usr/bin/install -o quassel -g quassel -m 600 {{ quassel_core_ssl.key }} /var/lib/quassel/quasselKey.pem
{% endif -%}
ExecStart=/usr/bin/quasselcore --configdir=/var/lib/quassel --listen={{ quassel_core_listen }} --port={{ quassel_core_port }}{{ quassel_core_sslargs }}
[Install]
WantedBy=multi-user.target
