[alias]
	ffmerge = merge --ff-only
	ffpull = pull --ff-only
	logg = log --pretty=\"format:%ad %Cred%h%Creset %s %Cgreen%d\" --date=short --decorate=short
	logk = log --graph --oneline --decorate
	logo = log --pretty=\"format:%ad %Cred%h%Creset %s %Cgreen%d\" --date=short --decorate=short master~1..origin/master
	logs = log --oneline --decorate=off
	lol = log --graph --oneline --decorate --all
[color]
	ui = auto
[core]
	editor = vim
[log]
	decorate = short
	date = iso
{% if (ansible_distribution, ansible_distribution_version) != ("Ubuntu", "12.04") %}
[push]
	default = simple
{% endif %}
[rebase]
	autosquash = true
[user]
	name = {{ user_fullname }}
	email = {{ user_email }}
