[connction]
id=eth
uuid=69c395bc-dbf7-4c0e-ad3d-a3e826231a0d
type=ethernet
autoconnect=true
autoconnect-priority=0

[ethernet]
mac-address={{ network_manager_ap_eth_macaddr|mandatory }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=eui64
method=auto
