[connection]
id=wlan
uuid=404757e5-ad7f-49b8-8f96-f85474f78aa9
type=wifi
autoconnect=true
interface-name={{ network_manager_ap_wlan_interface_name|mandatory }}

[wifi]
hidden=false
mode=ap
ssid={{ network_manager_ap_ssid|mandatory }}

[wifi-security]
key-mgmt=wpa-psk
psk={{ network_manager_ap_psk|mandatory }}

[ipv4]
method=shared
addresses={{ network_manager_ap_ipv4|mandatory }}
