[DEFAULT]
destination={{ duplicity_backup_destination }}duplicity-backup

# This option specifies that a non-default identity file is used for
# SSH connections.
ssh_id_rsa=/root/.ssh/duplicity-backup-id_rsa

{% if duplicity_backup_gpgkey is defined %}
gpgkey={{ duplicity_backup_gpgkey }}
{% endif %}

{% if duplicity_backup_excludes is defined %}
exclude=
{% for e in duplicity_backup_excludes %}
  {{ e }}
{% endfor %}
{% endif %}
