# GDM configuration storage

[daemon]
{% if gnome_gdm_wayland_disable | default(false) %}
WaylandEnable=false
{% else %}
# Uncoment the line below to force the login screen to use Xorg
#WaylandEnable=false
{% endif %}

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
#Enable=true

