test -z "$PS1" && return

shopt -s histappend
history -a
shopt -s checkwinsize

prompt_command() {
    printf "\033]2;${HOSTNAME} ${USER} $(tty) \007"
}

{% if system_color is defined %}
PS1="[\u@\[\033[{{ system_color }}m\]\h\[\033[0m\] \W]\\$ "
{% else %}
PS1="[\u@\h \W]\\$ "
{% endif %}

case $TERM in
    xterm*|vte*)
        PROMPT_COMMAND='prompt_command'
        ;;
    *)
        # nothing
esac

if test -r /etc/bash_completion
then
    . /etc/bash_completion
elif test -r /usr/share/bash-completion/bash_completion
then
    . /usr/share/bash-completion/bash_completion
fi

# mkdir-cd combination
mdcd() {
    if test $# -ne 1
    then
        printf "usage: mcd <directory>\n"
        return 1
    fi

    mkdir -pv "${1}" && cd "${1}"
}

alias ls='ls --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
