ctrl_interface=/var/run/hostapd
ctrl_interface_group=wheel

interface={{ wifi_ap_wlan_interface_name|mandatory }}
driver=nl80211
hw_mode=g
channel=7
wpa=2
wpa_key_mgmt=WPA-PSK
ssid={{ wifi_ap_ssid|mandatory }}
wpa_passphrase={{ wifi_ap_psk|mandatory }}
bridge=br-lan
