# Two locations pointing to the managed set of files.
# One for read-only use, other for management through WebDAV

Alias /files "{{ webdav_server_filedir|mandatory }}"
Alias /dav "{{ webdav_server_filedir|mandatory }}"

<Directory "{{ webdav_server_filedir|mandatory }}">
	Options +Indexes
</Directory>

<Location /dav>
	<IfModule mod_ssl.c>
		SSLRequireSSL
	</IfModule>

	Dav on
	AuthType Basic
	AuthName "DAV management"
	AuthUserFile "{{ webdav_server_filedir|mandatory }}.passwd"
	Require valid-user
</Location>
{% for item in webdav_server_protected -%}

<Location /files{{ item.location }}>
{% if item.htpasswd_name -%}
        AuthType Basic
        AuthName {{ item.htpasswd_name }}
        Require valid-user
        AuthUserFile /var/www/{{ item.htpasswd_name }}.htpasswd
        <IfModule mod_ssl.c>
                SSLRequireSSL
        </IfModule>
{% endif -%}
{% if item.hide_index -%}
        Options -Indexes
{% endif -%}
</Location>
{% endfor -%}
