[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon={{ pycharm_dir }}/pycharm-community-{{ pycharm_version }}/bin/pycharm.png
Exec="{{ pycharm_dir }}/pycharm-community-{{ pycharm_version }}/bin/pycharm.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
