[connection]
autoconnect=true
id=wan
uuid=9f60c8cd-9d9c-369a-97a4-56bae62e050d
type=vlan

[vlan]
id=2
parent={{ router_interface|mandatory }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=eui64
dns-search=
method=auto
