[connection]
autoconnect=true
id=lan
uuid=c0e28121-a4dc-4b42-886c-41f44f66d7cf
type=ethernet
interface-name={{ router_interface|mandatory }}

[ipv4]
{% if router_addresses %}
method=manual
{% else %}
method=auto
{% endif %}

{% for address in router_addresses %}
address{{ loop.index }}={{ address }}
{% endfor %}

dns-search=

{% for route in router_ipv4_routes %}
route{{ loop.index }}={{ route.prefix }},{{ route.gateway }}
{% endfor %}

[ipv6]
addr-gen-mode=eui64
dns-search=
method=auto

{% for route in router_ipv6_routes %}
route{{ loop.index }}={{ route.prefix }},{{ route.gateway }}
{% endfor %}
