127.0.0.1	localhost
::1		localhost

{% for hostname in groups['all']|sort -%}
{% set host = hostvars[hostname] -%}
{% if 'address' in host -%}
{{ host.address }} {{ hostname }}
{%- for alias in host.get('aliases', []) %} {{ alias }}{% endfor %}

{% endif -%}
{% endfor -%}

{{ router_hosts_suffix -}}
