#!/bin/sh

WAN_INTERFACE="{{ router_interface}}.2"
TUN_NAME=tun6to4

INTERFACE_NAME="${1}"
ACTION="${2}"

errcho()
{
	echo $@ 1>&2
}

# First, some initial checks to see if the event is interesting.
if test "${INTERFACE_NAME}" != "${WAN_INTERFACE}"
then
	errcho ignoring because not "${WAN_INTERFACE}"
	exit 0
fi

if test "${ACTION}" != up -a "${ACTION}" != down
then
	errcho ignoring because not down, up
	exit 0
fi

# This should be an interesting event. Now will define the actual
# actions and invoke some of them.


cleanup()
{
	local TUN_COUNT=$(ip -o link show dev ${TUN_NAME}| wc -l)
	if test ${TUN_COUNT} -ne 0
	then
		ip -6 route del 2000::/3 via ::192.88.99.1 dev ${TUN_NAME}
		ip link set dev ${TUN_NAME} down
		ip tunnel del ${TUN_NAME}
		if test $? -eq 0
		then
			errcho did delete ${TUN_NAME}
		else
			errcho failed to delete ${TUN_NAME}
		fi 
	fi
}


setup()
{
	cleanup
	errcho setting up for address ${1}
	local V4_ADDR="${1}"
	local V4_DOTLESS="$(echo ${V4_ADDR}| tr '.' ' ')"

	local V6_PREFIX_START=2002:"$(printf '%02x%02x:%02x%02x' ${V4_DOTLESS})"
	local V6_PREFIX="${V6_PREFIX_START}"::/48
	local V6_WAN_ADDR="${V6_PREFIX_START}"::1/16

	errcho prefix is ${V6_PREFIX}

	ip tunnel add ${TUN_NAME} mode sit remote any local "${V4_ADDR}"
	ip link set dev ${TUN_NAME} up
	ip addr add ${V6_WAN_ADDR} dev ${TUN_NAME}
	ip -6 route add 2000::/3 via ::192.88.99.1 dev ${TUN_NAME} metric 1
}

run()
{
	if test $ACTION = up
	then
		# Here the address is checked through /sbin/ip to ensure that
		# it is available now, instead of when NM decided to launch
		# this script.
		local V4_ADDR=$(ip -o -4 addr show dev "${WAN_INTERFACE}"|awk '{ split($4,items,"/"); print items[1] }')

		if test -n ${V4_ADDR}
		then
			# Only do setup if we still have the address.
			setup ${V4_ADDR}
		fi

	elif test $ACTION = down
	then
		cleanup
	fi
}

run
