interface {{ router_interface }}
{
	AdvSendAdvert on;
	AdvLinkMTU 1480;

	MinRtrAdvInterval 30;
	MaxRtrAdvInterval 100;

	prefix 0:0:0:0002::/64
	{
		AdvOnLink on;
		AdvAutonomous on;
		Base6to4Interface {{ router_interface }}.2;
	};

	prefix fdb7:4bee:7501:0002::/64
	{
		AdvOnLink on;
	};
};
