[sssd]
services = nss, pam
config_file_version = 2
domains = ldap

[domain/ldap]

cache_credentials = True

id_provider = ldap
auth_provider = ldap
chpass_provider = ldap

ldap_uri = {{ ldap_logins_ldap_uri }}
ldap_search_base = {{ ldap_logins_ldap_search_base }}
ldap_tls_cacert = /etc/sssd/ca.cert.pem
